BOT/BOTMADNESS.json
{
    "name": "Madness Light — Telegram AI Bot",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "telegram-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                220,
                460
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram Bot Token"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "user-id",
                            "name": "userId",
                            "value": "={{ String($('Telegram Trigger').item.json.message.from.id) }}",
                            "type": "string"
                        },
                        {
                            "id": "user-name",
                            "name": "userName",
                            "value": "={{ $('Telegram Trigger').item.json.message.from.first_name || 'Colega' }}",
                            "type": "string"
                        },
                        {
                            "id": "chat-id",
                            "name": "chatId",
                            "value": "={{ String($('Telegram Trigger').item.json.message.chat.id) }}",
                            "type": "string"
                        },
                        {
                            "id": "user-msg",
                            "name": "userMessage",
                            "value": "={{ $('Telegram Trigger').item.json.message.text || '(mensaje sin texto)' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-text-input",
            "name": "Preparar Texto",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                480,
                460
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT COALESCE((SELECT json_agg(sub)::text FROM (SELECT role, content FROM conversations WHERE user_id = '{{ $json.userId }}' ORDER BY created_at DESC LIMIT 20) sub), '(Sin historial previo)') as historial",
                "options": {}
            },
            "id": "load-history",
            "name": "Cargar Historial Chat",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                740,
                460
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_POSTGRES_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT COALESCE((SELECT json_agg(sub)::text FROM (SELECT name, date, venue, theme, dj_info, entry_price, entry_link FROM events ORDER BY date DESC LIMIT 10) sub), '(No hay eventos programados)') as eventos",
                "options": {}
            },
            "id": "load-events",
            "name": "Cargar Eventos",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1000,
                460
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_POSTGRES_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT COALESCE(description, '') as description, COALESCE(extra_info, '') as extra_info FROM company_info LIMIT 1;",
                "options": {}
            },
            "id": "load-company",
            "name": "Cargar Info Empresa",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1260,
                460
            ],
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_POSTGRES_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const userName = $('Preparar Texto').first().json.userName;\nconst userMessage = $('Preparar Texto').first().json.userMessage;\nconst chatId = $('Preparar Texto').first().json.chatId;\nconst userId = $('Preparar Texto').first().json.userId;\nconst eventos = $('Cargar Eventos').first().json.eventos || '(No hay eventos programados)';\nconst empresaDesc = $('Cargar Info Empresa').first().json.description || '';\nconst empresaInfo = $('Cargar Info Empresa').first().json.extra_info || '';\nconst historial = $('Cargar Historial Chat').first().json.historial || '(Sin historial)';\n\nconst hoy = new Date();\nconst fechaActual = hoy.toLocaleDateString('es-ES');\n\nconst systemPrompt = `Eres el Colega Virtual de Madness Light (fiestas light +14 Madrid). Fecha actual: ${fechaActual}.\nEl usuario se llama: ${userName}\n\nCOMO RESPONDER - LEE ESTO PRIMERO\nAntes de responder, identifica QUE esta preguntando el usuario:\n\n1. SALUDO (hola, hey, buenas, qué tal, /start, wenas, qué pasa) → Mensaje de bienvenida con su nombre, que eres el bot de Madness, qué puedes ayudarle y que pregunte. Varía el estilo.\n\n2. FIESTAS/EVENTOS (fiesta, evento, próxima, cuándo, entradas, precios, DJs, sala, finde, lineup, música) → Usa SOLO los datos de la seccion EVENTOS de abajo. NUNCA inventes. Si no hay datos, di que aún no hay fechas confirmadas. Empuja a comprar en Elite Events.\n\n3. RRPP/EMPRESA (rrpp, trabajar, cómo funciona, normas, rangos, sueldo, vestimenta, beneficios, puntos, ser rrpp, quiero ser rrpp) → Usa los datos de INFO EMPRESA. Prioridad: primero explica BENEFICIOS y CÓMO FUNCIONA (sistema de puntos, rangos, cómo se venden entradas, qué ganas). Los requisitos NO los sueltes de primeras, al final menciona \"si quieres saber los requisitos pregúntame\". El objetivo es que el usuario QUIERA ser RRPP, no asustarle con requisitos.\n\n4. CHARLA (transporte, ligar, consejos, qué ponerme) → Responde con colegueo usando tu conocimiento general.\n\n5. FUERA DE TEMA (cocina, deberes, deportes, política) → \"Bua, ni idea yo solo sé de Fiestas y RRPP. Te miro algo de la próxima?\"\n\nIMPORTANTE: Responde SOLO sobre lo que pregunta el usuario. Si pregunta sobre RRPP, habla de RRPP, NO de fiestas. Si pregunta sobre fiestas, habla de fiestas, NO de RRPP. NO mezcles temas.\n\n--- EVENTOS ---\n${eventos}\nCampos: name (nombre), date (fecha), venue (sala), theme (temática), dj_info (DJs), entry_price (precio), entry_link (link compra).\n\n--- INFO EMPRESA ---\n${empresaDesc}\n${empresaInfo}\n\n--- ESTILO ---\n- Escribe como si fuera un WhatsApp a un colega. Nada de listas con viñetas ni formato de folleto.\n- NO uses formato tipo \"Requisitos:\", \"Beneficios:\", listas con -, \\n, ni bullet points. Eso parece un PDF corporativo.\n- Usa frases naturales con emojis sueltos entre medias, como en un chat real.\n- Ejemplo MALO: \"🔹 Requisitos:\\n- Edad mínima: 14 años\\n- Compatible con estudios\"\n- Ejemplo MALO 2: \"Básicamente tienes que tener 14 años mínimo y lo mejor es que es compatible con estudios y curro\" (demasiado coloquial y centra en requisitos)\n- Ejemplo BUENO: \"Como RRPP compartes un enlace con tu gente y por cada entrada que vendan a través de él sumas puntos 📊 Esos puntos te hacen subir de rango: empiezas como RRPP Base con acceso VIP y sin colas, y si llegas a Elite entras gratis a todas las fiestas 🔥 Además puedes canjear puntos por dinero. Si quieres te cuento los requisitos o los rangos en detalle\"\n- Tono: juvenil pero profesional. Como un community manager joven, no como un chaval de 15.\n- Sé concreto con datos reales pero metidos en frases naturales, no en listas\n- 6-10 líneas máximo. Si hay mucho que contar, da lo importante y pregunta si quiere saber más\n\n--- HISTORIAL ---\n${historial}`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage,\n    chatId,\n    userId,\n    userName\n  }\n}];"
            },
            "id": "build-prompt",
            "name": "Preparar Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1520,
                460
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list"
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "={{ $json.systemPrompt }}"
                        },
                        {
                            "role": "user",
                            "content": "={{ $json.userMessage }}"
                        }
                    ]
                },
                "options": {
                    "maxTokens": 1000,
                    "temperature": 0.7
                }
            },
            "id": "ai-agent",
            "name": "🤖 Agente IA",
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 1.8,
            "position": [
                1780,
                460
            ],
            "credentials": {
                "openAiApi": {
                    "id": "OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API Key"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "final-response",
                            "name": "finalResponse",
                            "value": "={{ $json.message?.content || $json.choices?.[0]?.message?.content || $json.text || 'Lo siento, no he podido procesar tu mensaje' }}",
                            "type": "string"
                        },
                        {
                            "id": "final-chatid",
                            "name": "chatId",
                            "value": "={{ $('Preparar Prompt').item.json.chatId }}",
                            "type": "string"
                        },
                        {
                            "id": "final-userid",
                            "name": "userId",
                            "value": "={{ $('Preparar Prompt').item.json.userId }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "prepare-final",
            "name": "Preparar Respuesta Final",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                2040,
                460
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list"
                },
                "table": {
                    "__rl": true,
                    "value": "conversations",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "user_id": "={{ $json.userId }}",
                        "role": "user",
                        "content": "={{ $('Preparar Prompt').item.json.userMessage }}",
                        "created_at": "={{ new Date().toISOString() }}"
                    }
                },
                "options": {}
            },
            "id": "save-user-msg",
            "name": "💾 Guardar Msg Usuario",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2300,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_POSTGRES_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list"
                },
                "table": {
                    "__rl": true,
                    "value": "conversations",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "user_id": "={{ $json.userId }}",
                        "role": "assistant",
                        "content": "={{ $json.finalResponse }}",
                        "created_at": "={{ new Date().toISOString() }}"
                    }
                },
                "options": {}
            },
            "id": "save-bot-msg",
            "name": "💾 Guardar Msg Bot",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2300,
                600
            ],
            "credentials": {
                "postgres": {
                    "id": "SUPABASE_POSTGRES_ID",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.finalResponse }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "send-telegram",
            "name": "📤 Responder en Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                2300,
                460
            ],
            "credentials": {
                "telegramApi": {
                    "id": "TELEGRAM_CREDENTIAL_ID",
                    "name": "Telegram Bot Token"
                }
            }
        },
        {
            "parameters": {},
            "id": "end",
            "name": "Fin",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                2560,
                460
            ]
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Preparar Texto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Texto": {
            "main": [
                [
                    {
                        "node": "Cargar Historial Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cargar Historial Chat": {
            "main": [
                [
                    {
                        "node": "Cargar Eventos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cargar Eventos": {
            "main": [
                [
                    {
                        "node": "Cargar Info Empresa",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cargar Info Empresa": {
            "main": [
                [
                    {
                        "node": "Preparar Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Prompt": {
            "main": [
                [
                    {
                        "node": "🤖 Agente IA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "🤖 Agente IA": {
            "main": [
                [
                    {
                        "node": "Preparar Respuesta Final",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Respuesta Final": {
            "main": [
                [
                    {
                        "node": "💾 Guardar Msg Usuario",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "💾 Guardar Msg Bot",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "📤 Responder en Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "📤 Responder en Telegram": {
            "main": [
                [
                    {
                        "node": "Fin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "saveManualExecutions": true,
        "callerPolicy": "workflowsFromSameOwner",
        "errorWorkflow": ""
    },
    "versionId": "madness-light-v5",
    "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "madness-light-bot"
    },
    "tags": [
        {
            "name": "Telegram"
        },
        {
            "name": "AI"
        },
        {
            "name": "Customer Service"
        },
        {
            "name": "Madness Light"
        }
    ]
}